---
import {
  ArrowRight,
  CodeXml,
  ExternalLink,
  SquareArrowOutUpRight,
} from "lucide-react";
import { AspectRatio } from "../ui/aspect-ratio";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../ui/card";
import { Badge } from "../ui/badge";
import { cn } from "@/lib/utils";
import { buttonVariants } from "../ui/button";

const projects = [
  {
    title: "Project One",
    description:
      "Description for project one. This description is a bit longer since it will be the first featured project and should stand out more.",
    link: "https://example.com/project-one",
    code: "https://github.com/user/project-one",
  },
  {
    title: "Project Two",
    description: "Description for project two.",
    link: "https://example.com/project-two",
    code: "https://github.com/user/project-two",
  },
  {
    title: "Project Three",
    description: "Description for project three.",
    link: "https://example.com/project-three",
    code: "https://github.com/user/project-three",
  },
];
---

<section class="w-1/2 mx-auto max-w-full mt-16" id="projects">
  <h2 class="font-semibold text-2xl mb-4">Projects</h2>
  <div class="grid grid-cols-2 gap-x-5 gap-y-6 w-full max-w-full">
    {
      projects.map((project, i) => {
        return i === 0 ? (
          <Card className="p-6 flex-center gap-6 col-span-2 group">
            <div class="flex-1 overflow-clip rounded-md relative h-full">
              <img
                src={`https://placehold.co/800x450/f1f1f1/333333?text=${encodeURIComponent(
                  project.title
                )}&font=roboto`}
                alt={project.title}
                class="object-cover w-full rounded-md group-hover:scale-105 transition-all duration-200"
              />
              {/* <p class="w-full bg-linear-0 from-card/50 to-transparent flex-center gap-2 absolute pb-2 pt-8 bottom-0 left-1/2 -translate-x-1/2 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                Read More <ArrowRight />
              </p> */}
            </div>
            <div class="flex-1 h-full flex flex-col items-start justify-between">
              <div class="space-y-2">
                <CardTitle>{project.title}</CardTitle>
                <CardDescription>{project.description}</CardDescription>
                <div class="flex gap-2 text-sm">
                  <Badge variant="secondary">NextJs</Badge>
                  <Badge variant="secondary">TypeScript</Badge>
                  <Badge variant="secondary">Convex</Badge>
                </div>
              </div>
              <div class="flex gap-4 mt-4">
                <a
                  href={project.link}
                  target="_blank"
                  class={cn(buttonVariants({ variant: "secondary" }))}
                >
                  <ExternalLink className="size-4" />
                  View Live
                </a>
                <a
                  href={project.link}
                  target="_blank"
                  class={cn(buttonVariants({ variant: "link" }))}
                >
                  <CodeXml className="size-4" />
                  Code
                </a>
              </div>
            </div>
          </Card>
        ) : (
          <Card>
            <CardHeader>
              <CardTitle>{project.title}</CardTitle>
              <CardDescription>{project.description}</CardDescription>
            </CardHeader>
            <CardContent>
              <AspectRatio ratio={16 / 9} className="overflow-clip rounded-md">
                <img
                  src={`https://placehold.co/800x450/f1f1f1/333333?text=${encodeURIComponent(
                    project.title
                  )}&font=roboto`}
                  alt={project.title}
                  class="object-cover w-full rounded-md hover:scale-105 hover:filter transition-transform duration-200"
                />
              </AspectRatio>
            </CardContent>
            <CardFooter className="justify-between">
              <a
                class="flex gap-2 text-sm text-muted-foreground hover:underline items-center"
                href={project.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <SquareArrowOutUpRight className="size-4" />
                View Live
              </a>
              <a
                class="flex gap-2 text-sm text-muted-foreground hover:underline items-center"
                href={project.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <CodeXml className="size-4" />
                Code
              </a>
            </CardFooter>
          </Card>
        );
      })
    }
  </div>
  <small
    class="w-fit mx-auto flex-center gap-2 hover:gap-4 transition-all text-muted-foreground mt-4"
  >
    View All <ArrowRight className="size-4" />
  </small>
</section>
