---
import {
  ArrowRight,
  CodeXml,
  ExternalLink,
  SquareArrowOutUpRight,
} from "lucide-react";
import { AspectRatio } from "../ui/aspect-ratio";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../ui/card";
import { Badge } from "../ui/badge";
import { cn } from "@/lib/utils";
import { buttonVariants } from "../ui/button";

import projects from "@/lib/data/projects";
import { Image } from "astro:assets";
---

<section class="w-1/2 mx-auto max-w-full mt-16" id="projects">
  <h2 class="font-semibold text-2xl mb-4">Projects</h2>
  <div class="grid grid-cols-2 gap-x-5 gap-y-6 w-full max-w-full">
    {
      projects.map((project, i) => {
        return i === 0 ? (
          <Card className="p-6 flex-center gap-6 col-span-2 group relative">
            <div class="flex-1 overflow-clip rounded-md relative h-full">
              <Image
                src={project.imagePath}
                alt={project.title}
                class="object-cover w-full rounded-md group-hover:scale-105 transition-all duration-200 group-hover:brightness-20"
              />
              {project.readMore && (
                <a
                  href={project.readMore}
                  class={cn(
                    buttonVariants({ variant: "link" }),
                    "absolute top-1/2 left-1/2 -translate-1/2 z-100 hidden group-hover:inline-flex text-xl hover:underline"
                  )}
                >
                  Read More <ArrowRight className="size-6" />
                </a>
              )}
            </div>
            <div class="flex-1 h-full flex flex-col items-start justify-between">
              <div class="space-y-2">
                <CardTitle>{project.title}</CardTitle>
                <CardDescription>{project.description}</CardDescription>
                {project.techs && (
                  <div class="flex gap-2 text-sm">
                    {project.techs.map((tech) => (
                      <Badge variant="secondary">{tech}</Badge>
                    ))}
                  </div>
                )}
              </div>
              <div class="flex gap-4 mt-4">
                {project.link && (
                  <a
                    href={project.link}
                    target="_blank"
                    class={cn(buttonVariants({ variant: "secondary" }))}
                  >
                    <ExternalLink className="size-4" />
                    View Live
                  </a>
                )}
                {project.code && (
                  <a
                    href={project.code}
                    target="_blank"
                    class={cn(buttonVariants({ variant: "link" }))}
                  >
                    <CodeXml className="size-4" />
                    Code
                  </a>
                )}
              </div>
            </div>
          </Card>
        ) : (
          <Card className="group">
            <CardHeader>
              <CardTitle>{project.title}</CardTitle>
              <CardDescription>{project.description}</CardDescription>
            </CardHeader>
            <CardContent>
              <AspectRatio
                ratio={16 / 9}
                className="overflow-clip rounded-md relative"
              >
                <Image
                  src={project.imagePath}
                  alt={project.title}
                  class="object-cover w-full rounded-md group-hover:scale-105 group-hover:brightness-20 transition-all duration-200"
                />
                {project.readMore && (
                  <a
                    href={project.readMore}
                    class={cn(
                      buttonVariants({ variant: "link" }),
                      "absolute top-1/2 left-1/2 -translate-1/2 z-100 hidden group-hover:inline-flex text-xl hover:underline"
                    )}
                  >
                    Read More <ArrowRight className="size-6" />
                  </a>
                )}
              </AspectRatio>
            </CardContent>
            <CardFooter className="justify-between">
              {project.link && (
                <a
                  class="flex gap-2 text-sm text-muted-foreground hover:underline items-center"
                  href={project.link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <SquareArrowOutUpRight className="size-4" />
                  View Live
                </a>
              )}
              {project.code && (
                <a
                  class="flex gap-2 text-sm text-muted-foreground hover:underline items-center"
                  href={project.code}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <CodeXml className="size-4" />
                  Code
                </a>
              )}
            </CardFooter>
          </Card>
        );
      })
    }
  </div>
  <!-- <small
    class="w-fit mx-auto flex-center gap-2 hover:gap-4 transition-all text-muted-foreground mt-4"
  >
    View All <ArrowRight className="size-4" />
  </small> -->
</section>
