---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Universal from "./Universal.astro";

type Props = CollectionEntry<"blog">["data"] & {
  id: CollectionEntry<"blog">["id"];
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Universal title={title} description={description}>
  <main class="w-full pt-20 md:pt-24">
    <article class="prose prose-invert max-w-none w-full">
      {
        heroImage && (
          <div class="hero-image -mx-4 sm:-mx-8 lg:-mx-16 xl:-mx-24 mb-10 md:mb-12">
            <Image
              width={1600}
              height={800}
              src={heroImage}
              alt=""
              class="w-full h-auto rounded-none"
            />
          </div>
        )
      }
      <div>
        <div>
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <small>
                  Last updated on <FormattedDate date={updatedDate} />
                </small>
              )
            }
          </div>
          <h1>
            {title}
          </h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</Universal>
